
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color:white;
}

.mainbox {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 60px;
    padding: 20px;
}

.leftbox {
    max-width: 500px;
    background-color: white;
    
}

.logo {
    height: 90px;
    margin-bottom: 0px;
    background-color:white;
    padding:0px;

}

.head {
    font-size: 26px;
    line-height: 32px;
    background-color: white;
}


.rightbox {
    width: 400px;
    text-align: center;
}

.whitebox {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

input {
    width: 100%;
    height: 45px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.loginbutton {
    width: 100%;
    height: 45px;
    background-color: #1877f2;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
}

.signupbutton {
    width: 60%;
    height: 45px;
    background-color: #42b72a;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}


.forgot {
    display: block;
    margin: 15px 0;
    color: #1877f2;
    text-decoration: none;
}

.createpage {
    margin-top: 20px;
    font-size: 14px;
}


@media (max-width: 576px) {
    .mainbox {
        flex-direction: column;
        text-align: center;
    }

    .leftbox {
        max-width: 100%;
    }

    .head {
        font-size: 22px;
    }

    .rightbox {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .mainbox {
        flex-direction: column;
        gap: 30px;
    }

    .rightbox {
        width: 100%;
        max-width: 400px;
    }
}

